.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
*.out
*.png
*.pdf
Bunya/ENZAMET/output/
Bunya/ENZAMET/figures/

# Ignore extensionless files in Stan/ (compiled executables)
Stan/*
!Stan/*.stan
!Stan/*.R
!Stan/*.slurm
.positai
*.zip
